
 <div class="col-md-8 col-sm-offset-2">
  <div class="col-md-8 col-sm-offset-2" style="margin-top: 10%"> 
    <% @menu_item.errors.full_messages.each do |error| %> 
      <h2><%= error%></h2>
    <%end%>

    <h2>Edit Item</h2>
    <a style="float: right; font-size: 1.5em" href="/menu_items/#{@menu_item.id}"><span class="glyphicon glyphicon-arrow-left"></span> Back To View Item</a>

    <%= form_for(@menu_item, url: "/menu_items/#{@menu_item.id}") do |f| %>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, value: @menu_item.name, class: "form-control" %>
      </div>

      <div cfass="form-group">
        <%= f.label :price %>
        <%= f.text_field :price, value: @menu_item.price, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :description  %>
        <%= f.text_area :description, size: "25x4", value: @menu_item.description, class: "form-control" %>
      </div>

      <%= f.fields_for :menu_item_category do |f| %>
      <div class="form-group">
        <%= f.collection_select :category_id, Category.all, :id, :name, selected: @menu_item.menu_item_category.category_id %>
        <%= hidden_field_tag :menu_item_id, @menu_item.id %>
      </div>
      <br>
    <% end %>
      <input type="submit" value="Update Item">
    <% end %>
  </div>
</div>
