

<div class="container">
  <h1 style="text-align: center">Menu</h1>
  <% @categories.each do |category| %>
    <h2 class="category"><%= category.name.upcase %></h2>
    <% category.menu_items.each do |item| %>
      <div class="row">
        <div class="col-sm-12 menu-item">
          <div class="col-sm-3 name">
            <a href="menu_items/<%= item.id %>"><%= item.name %></a>
          </div>
        
          <div class="col-sm-7 description">
            <p><i><%= item.description %></i></p>
          </div>
        
          <div class="col-sm-2">
            <h4><%= number_to_currency(item.price) %></h4>
              <%= form_tag "/carted_items", method: :post do%>
                <%= label_tag :quantity, "qty" %>
                <%= text_field_tag :quantity, "", size: "8" %>
                <%= hidden_field_tag :menu_item_id, item.id %>
              <%= submit_tag "Add to Cart", class: "btn btn-default see-thru" %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
  <div class="col-sm-6">
    <%= form_tag "/carted_items/random", method: :get do %>
      <%= text_field_tag :min, nil, class: "col-md-3 col-md-offset-1", placeholder: "minimum" %>
      <%= text_field_tag :max, nil, class: "col-md-3 col-md-offset-1", placeholder: "maximum" %>
      <%= submit_tag "Go", class: "col-md-3" %>
    <% end %>
  </div>
</div>
