

<div class="container">

  <div class="col-sm-12 randomize" style="margin-bottom: 2%">
    <div class="col-sm-9">
      <img src="/img/stars.svg">
    </div>
    <div class="col-sm-3">
    <h4>Can't decide what to order? Set your price range to add a random order to your cart.</h4>
     <%= form_tag "/carted_items/random", method: :get do %>
       <div class="form-group">
         <label for="usr">Minimum</label>
         <%= text_field_tag :min, "", size: "8", style: "float: right" %>
       </div>
       <div class="form-group">
         <label for="usr">Maximum</label>
         <%= text_field_tag :max, "", size: "8", style: "float: right" %>
       </div>
       <div class="form-group">
         <%= submit_tag "I'm Feeling Lucky"%>
       </div>
     <% end %>
    </div>
  </div>
  <br>

  <% @categories.each do |category| %>
    <h2 class="category"><%= category.name.upcase %></h2>
    <% category.menu_items.each do |item| %>
      <div class="row category-bg">
        <div class="col-sm-12 menu-item">
          <div class="col-sm-3 name">
            <a href="menu_items/<%= item.id %>"><%= item.name %></a>
          </div>
        
          <div class="col-sm-7 description">
            <p><%= item.description %></p>
          </div>
        
          <div class="col-sm-2">
            <h4><%= number_to_currency(item.price) %></h4>
              <%= form_tag "/carted_items", method: :post do%>
                <%= label_tag :quantity, "qty" %>
                <%= text_field_tag :quantity, "", size: "8" %>
                <%= hidden_field_tag :menu_item_id, item.id %>
              <%= submit_tag "Add to Cart", class: "btn btn-default see-thru" %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>

</div>
